<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>WATT = DEDICATION</h1>
    <p>THE WATT TEAM HAS DEEP ROOTS & DECADES OF EXPERIENCE IN, ON AND AROUND THE ENERGY INDUSTRY.</p>
	<p>WE ARE PASSIONATE ABOUT BRINGING YOU THE BEST QUALITY ENERGY SAVINGS IN A REVOLUTIONARY NEW WAY.</p>
  </body>
</html>