<article class="container">    
<div id="landing">
  <div class="container">
    <header class="hero-unit">
      <h1>
          POWER OVER YOUR ENERGY
          <small>Simple, stylish and socially contious savings.</small>
      </h1>
      <p><a class="btn btn-green btn-large" href="/signup/" data-link="modal" data-target="#signup-modal">Sign up for free</a></p>
    </header>
    </div>
    
    <div class="container">
    <section>
      <div class="row features">

        <div class="span6">
          <i class="bookmarking"></i>
          <h3>SIMPLE</h3>
           <p>
               With WA.TT it's easy to save money on all of the energy that powers yoru life, Electricity, Heating, Cooling and Transportation.
            </p>
            <a href="/pricing/">Learn more</a>
        </div>

        <div class="span6">
          <i class="search"></i>
          <h3>STYLE</h3>
          <p>WA.TT is your personal energy guide. Our dedicated team identifies the most powerful energy savings opportunities that put you in high proformace stylish vehicles.</p>
          <a href="/archive/">Learn more</a>
        </div>
        
        <div class="span6">
          <i class="collaborate"></i>
          <h3>SOCIAL</h3>
          <p>The Creme de la Creme is that all of the energy savings and high proformace style comes with the added benefit of making the energy that powers your life have zero envoronmental impact.</p>
          <a href="//">Learn more</a>
        </div>
          
  </div>
</div>