<div class="center hero-unit">
  <h1>POWER OVER YOUR ENERGY</h1>

  <h2>
    YOUR NEIGHBORS ARE SAVING 22% ON THEIR ENERGY WITH WATT
  </h2>
  <h2>
    WATT FOUND THEM AN AVERAGE OF $63,761 IN SAVINGS
  </h2>


  <%= link_to "SIGN UP", '#', class: "btn btn-large btn-success" %>
</div>
