<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>SIMPLY POWERFUL</h1>
    <ul>
    	<li>CONSULT
    		<p>RECEIVE A FREE WATT CONSULTATION TO ASSESS ALL OF YOUR ENERGY NEEDS.</p>
    	</li>
    	<li>DESIGN
    		<p>WATT DILIGENTLY DESIGNS A CUSTOMIZED ENERGY SOLUTION BASED SPECIFICALLY ON YOUR ENERGY NEEDS TO MAXIMIZE SAVINGS.</p>
    	</li>
    	<li>DELIVERY
    		<p>YOUR ENERGY SYSTEM WILL EXCEED YOUR ENERGY DEMAND TO ENSURE THAT YOU WILL ALWAYS HAVE THE POWER YOU DESIRE.</p>
    	</li>
    	<li>SAVE
    		<p>WITH ZERO UPFRONT COSTS YOU START SAVING FROM YOUR VERY FIRST DAY.</p>
    	</li>
    	<li>MAINTAIN
    		<p>WATT MAINTAINS YOUR ENERGY SYSTEMS SO YOU CAN ENJOY THE FINER THINGS IN LIFE.</p>
    	</li>
    </ul>
  </body>
</html>