<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>HONEST ENERGY, HONEST SAVINGS</h1>
    <p>
      20% ENERGY SAVINGS STARTING ON DAY ONE
    </p>
    <ul>
    	<li>Electric</li>
    	<li>Heat/Cool</li>
    	<li>Transport</li>
    	<li>Package</li>
    </ul>
  </body>
</html>