<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>SIMPLY POWERFUL</h1>
    <p>HOW DO I EARN BONUS ENERGY FOR REFERRING FRIENDS TO WATT?</p>
	<p>YOU CAN GET EXTRA ENERGY BY INVITING YOUR FRIENDS TO WATT. IF A FRIEND USES YOUR INVITATION TO SIGN UP FOR AN ACCOUNT, BOTH OF YOU WILL RECEIVE BONUS ENERGY.</p>
	<p>ELECTRIC OR HEAT/COOL PLANS GET $500 IN ENERGY PER REFERRAL FOR YOU AND YOUR FRIEND. TRANSPORT OR PACKAGE PLANS GET $1000 PER REFERRAL FOR YOU AND YOUR FRIEND.</p>
  </body>
</html>