<footer>
  <p>
  <a href="/referrals/">Referrals</a>
  <a href="/about/">About</a>
  <a href="/jobs/">Jobs</a>
  <a href="mailto:james@wa.tt">Contact</a>
  <a href="http://blog.wa.tt" target="_blank">Blog</a>
  &copy; 2011-2013 WA.TT <-- Powered with love.</p>
  
  <div class="follow-buttons">
    <div style="vertical-align: bottom; margin: 0px 20px 0px 40px;">
      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.1362636220.html#_=1362933845086&count=horizontal&id=twitter-widget-0&lang=en&original_referer=https%3A%2F%2Fwa.tt%2F&related=wattinc&size=m&text=All%20of%20your%20links%20in%20one%20place&url=https%3A%2F%2Fwa.tt&via=wa.tt" class="twitter-share-button twitter-count-horizontal" style="width: 107px; height: 20px;" title="Twitter Tweet Button" data-twttr-rendered="true"/>
        <script>
        1
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </div>
      
      <div style="vertical-align: middle;">
        <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://facebook.com/watt" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" fb-xfbml-state="rendered">
          <span style="height: 20px; width: 84px;">
            <iframe id="f171d23194" name="f3a0106858" scrolling="no" style="border: none; overflow: hidden; height: 20px; width: 84px;" title="Like this content on Facebook." class="fb_ltr" src="https://www.facebook.com/plugins/like.php?api_key=121498701266437&locale=en_US&sdk=joey&channel_url=https%3A%2F%2Fs-static.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D18%23cb%3Df235bb698%26origin%3Dhttps%253A%252F%252Fkippt.com%252Ff12aa62434%26domain%3Dkippt.com%26relation%3Dparent.parent&href=http%3A%2F%2Ffacebook.com%2Fkipptapp&node_type=link&width=120&layout=button_count&colorscheme=light&show_faces=false&send=false&extended_social_context=false"/>
          </span>
        </div>
      </div>
      <div style="vertical-align: bottom;">
      <div style="height: 20px; width: 120px; display: inline-block; text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial;" id="___plusone_0">
      <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 120px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1362933845389" name="I0_1362933845389" src="https://plusone.google.com/_/+1/fastbutton?bsv&size=medium&annotation=inline&width=120&hl=en-US&origin=https%3A%2F%2Fkippt.com&url=https%3A%2F%2Fkippt.com%2F&ic=1&jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.IOaFQMAHVRI.O%2Fm%3D__features__%2Fam%3DUQE%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTNYuZ6HDkdZho3xDZgOVYkx4qGWPQ#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled&id=I0_1362933845389&parent=https%3A%2F%2Fkippt.com&rpctoken=46620323" allowtransparency="true" data-gapiattached="true" title="+1"/>
      </div>
  </div>
</div>
  
</footer>
