<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav center">
          <li class="menu-item">
            <a href="https://wa.tt/referrals">Referrals</a>
          </li>
          <li class="menu-item">
            <a href="https://wa.tt/about">About</a>
          </li>
          <li class="menu-item">
            <a href="https://wa.tt/blog">Blog</a>
          </li>
          <li class="menu-item">
            <a href="https://wa.tt/jobs">Jobs</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>