<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag('wa.ttlogo.jpg'), about_path, id: "logo" %> 
      <nav>
        <ul class="nav pull-right">
          <li class="menu-item">
            <a href="https://wa.tt/pricing">Pricing</a>
          </li>
          <li class="menu-item">
            <a href="https://wa.tt/how_watt_works">How WA.TT Works</a>
          </li>
          <li class="menu-item login-item">
            <a href="https://wa.tt/login">Login</a>
          </li>
          <li class="menu-item">
            <%= link_to "SIGNUP", href="https://wa.tt/signup", class: "btn btn-large btn-success" %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>