<nav class="navbar">
        
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="https://wa.tt/" class="brand"><%= image_tag("wa.ttlogo.png", :width => 150, :height => 40) %></a>
      <div class="nav-collapse">
          
        <ul class="nav actions">
          <li><a href="https://wa.tt/login/" data-link="modal" data-target="#login-modal">Log In</a></li>
          <li><a href="https://wa.tt/signup/" data-link="modal" data-target="#signup-modal">Sign Up</a></li>
        </ul>
          
        <ul class="nav">
          <li><a href="/pricing/">Pricing</a></li>
          <li><a href="/about/">How WA.TT Works</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
    
</nav>

